In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
producao = [1500, 2000, 200, 3500, 1000]

In [3]:
for i in range(5):
    print('O produto {} teve {} unidades produzidas'.format(produtos[i], producao[i]))

O produto coca teve 1500 unidades produzidas
O produto pepsi teve 2000 unidades produzidas
O produto guarana teve 200 unidades produzidas
O produto sprite teve 3500 unidades produzidas
O produto fanta teve 1000 unidades produzidas

In [ ]:
# Utilização do for em uma lista

In [4]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta' ]
texto = 'afonso@live.com'

In [5]:
for produto in produtos:
    print('O produto é: {} '.format(produto))

O produto é: coca
O produto é: pepsi
O produto é: guarana
O produto é: sprite
O produto é: fanta

In [6]:
for caractere in texto:
    print(caractere)

a
f
o
n
s
o
@
l
i
v
e
.
c
o
m

In [7]:
# For + If

vendas = [1222, 100, 500, 999, 1001, 2000, 30000, 450000, 10, 15, 28, 1280, 34550, 3654, 12000, 10001]
meta = 1000

qtd_pessoas_meta_batida = 0
qtd_total_pessoas = len(vendas)

for venda in vendas:
    if venda >= meta:
        qtd_pessoas_meta_batida += 1

print('O percentual de pessoas que bateram a meta foi de {:.2%}'.format(qtd_pessoas_meta_batida / qtd_total_pessoas))

O percentual de pessoas que bateram a meta foi de 62.50%