## **Fluxo Condicional & repetição**

**Estrutura Condicional if else elif**

estrutura de alteração de fluxo lógico do código, avalia um valor booleano ou uma comparação lógica. Note a identação do código.

In [ ]:
if <booleano comparação lógica > True:
  <execute este código>
else:
  <senao execute esse código>

In [ ]:
if True:
  print('Verdadeiro')
else:
  print('falso')

Verdadeiro

**Exemplo: ** Código de segurança de um cartão de crédito

In [ ]:
codigo_de_segurança= '827'
codigo_de_segurança_cadastro = '010'

pode_efetuar_pagamento =codigo_de_segurança==codigo_de_segurança_cadastro
print(pode_efetuar_pagamento)

False

In [ ]:
if pode_efetuar_pagamento:
  print('Pagamento efetuado')
else:
  print('Erro: código de seguranca inválido')

Erro: código de seguranca inválido

In [ ]:
if codigo_de_segurança==codigo_de_segurança_cadastro:
  print('Pagamento efetuado')
else:
  print('Erro: Código de segurança inválido')

Erro: Código de segurança inválido

**Exemplo:** Código e senha de segurança de um cartão de crédito

In [ ]:
codigo_de_seguranca = '852'
codigo_de_seguranca_cadastro = '852'

senha = '7783'
senha_cadastro = '7783'

In [ ]:
if codigo_de_seguranca == codigo_de_seguranca_cadastro and senha == senha_cadastro:
  print('Pagamento efetuado')
else:
  print('Erro: Pagamento não efetuado')

Pagamento efetuado

In [ ]:
if codigo_de_seguranca != codigo_de_seguranca_cadastro or senha != senha_cadastro:
  print('Erro: Pagamento não efetuado')
else:
  print('Pagamento efetuado')

Pagamento efetuado

**if elif else**

In [ ]:
codigo_de_seguranca = '842'
codigo_de_seguranca_cadastro = '852'

senha = '7782'
senha_cadastro = '7783'

In [ ]:
if (codigo_de_seguranca == codigo_de_seguranca_cadastro) and (senha == senha_cadastro):
  print('Pagamento efetuado')

elif codigo_de_seguranca != codigo_de_seguranca_cadastro and senha == senha_cadastro:
  print('Erro: código de segurança inválido')

elif codigo_de_seguranca == codigo_de_seguranca_cadastro and senha != senha_cadastro:
  print('Erro: Senha inválida')

else:
  print('Erro: código de segurança e senha inválidos')

Erro: código de segurança e senha inválidos

## **Estrutura condicional try - except - finally**

**Exceção**

Excecões são erros que podem acontecer durante a execução do nosso código

**Exemplo:** Erro de operações numéricas impossíveis

In [ ]:
preco = 132.85
pessoas = 0

In [ ]:
valor_por_pessoa = preco / pessoas

ZeroDivisionError: ignored

**Exemplo:** Erro por combinações de tipos diferentes

In [ ]:
nome = 'Luis Carlos'
idade = 19

In [ ]:
apresentacao = 'Fala pessoal, meu nome é {} e eu tenho {} anos'.format(nome,idade)
print(apresentacao)

Fala pessoal, meu nome é Luis Carlos e eu tenho 19 anos

**Exemplo:** Erro de indexação de estrutura de dados

In [ ]:
anos= [2019, 2020, 2021]

In [ ]:
ano_atual = anos[3]

IndexError: ignored

In [ ]:
cursos = {
    'python': {
        'nome': 'python para analise de dados','duracao':2.5
    },
    'sql':{
        'nome':'SQL para analise de dados','duracao':2
    }
}

In [ ]:
curso_atual = cursos['analista']

KeyError: ignored

**try/except**

Estrutura para tratar exceções

In [ ]:
preco = 132.85
pessoas = 0

try:
  valor_por_pessoa = preco / pessoas
  print(valor_por_pessoa)
except ZeroDivisionError:
  print('Numero de pessoas inválido. Espera-se um valor maior que 0 e obteve-se um valor igual a ' +str(pessoas))

Numero de pessoas inválido. Espera-se um valor maior que 0 e obteve-se um valor igual a 0

In [ ]:
ano = [2019,2020,2021]

try:
  ano_atual = anos[5]
  print(ano_atual)
except Exception:
  print('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e '+str(len(anos)-1))

Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e 2

In [ ]:
ano = [2019,2020,2021]

try:
  ano_atual = anos[5]
  print(ano_atual)
except Exception as exc:
  print('Descricao da exceção: '+ str(exc))
  print('Tipo da exceção: '+str(type(exc)))
  print('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e '+str(len(anos)-1))

Descricao da exceção: list index out of range
Tipo da exceção: <class 'IndexError'>
Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e 2

In [ ]:
ano = [2019,2020,2021]

try:
  ano_atual = anos[b]
  print(ano_atual)
except IndexError:
  print('lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e '+str(len(anos)-1))
except Exception as exc:
  print(exc)
  print('Erro genérico')

name 'b' is not defined
Erro genérico

**try / except / finally**

In [ ]:
nome = 'luis carlos'
idade = 27

try:
  apresentacao = 'Fala pessoal, meu nome é ' +nome+ ' e eu tenho ' + idade+ ' anos'
  print(apresentacao)
except TypeError:
  idade = str(idade)
finally:
  print('Segunda Chance')
  apresentacao = 'Fala pessoal, meu nome é ' +nome+ ' e eu tenho ' + idade+ ' anos'
  print(apresentacao)

Segunda Chance
Fala pessoal, meu nome é luis carlos e eu tenho 27 anos

## Estrutura de repetição FOR - IN

Estrutura que permite a execução repetida de um bloco de código repetidas vezes

In [ ]:
for variavel_temporaria in colecao:
  <execute este código>

**For - in - range**

In [35]:
for valor in range(6):
  print(valor)

0
1
2
3
4
5

In [36]:
soma = 0

for valor in range (0,10):
  soma = soma + valor

print(soma)

45

In [37]:
for multiplo_dois in range(2,10,2):
  print(multiplo_dois)

2
4
6
8

**for - in - list**

Estrutura que permite a execução de um bloco de código para todos os elementos de uma lista.

In [38]:
frutas = ['Maca', 'banana', 'laranja', 'uva', 'pera']

for fruta in frutas:
  print(fruta)

Maca
banana
laranja
uva
pera

In [1]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
producao = [1500, 2000, 200, 3500, 1000]

for i in range(5):
    print('O produto {} teve {} unidades produzidas'.format(produtos[i], producao[i]))

O produto coca teve 1500 unidades produzidas
O produto pepsi teve 2000 unidades produzidas
O produto guarana teve 200 unidades produzidas
O produto sprite teve 3500 unidades produzidas
O produto fanta teve 1000 unidades produzidas

In [52]:
frase = 'fala pessoal, meu nome é luis carlos'

for caracter in frase:
  if (caracter == 'f') or (caracter == 'n'):
    print(f'a letra "{caracter}" está presente na frase')

a letra "f" está presente na frase
a letra "n" está presente na frase

In [2]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta' ]
texto = 'afonso@live.com'

for produto in produtos:
    print('O produto é: {} '.format(produto))

O produto é: coca
O produto é: pepsi
O produto é: guarana
O produto é: sprite
O produto é: fanta

In [3]:
# For + If

vendas = [1222, 100, 500, 999, 1001, 2000, 30000, 450000, 10, 15, 28, 1280, 34550, 3654, 12000, 10001]
meta = 1000

qtd_pessoas_meta_batida = 0
qtd_total_pessoas = len(vendas)

for venda in vendas:
    if venda >= meta:
        qtd_pessoas_meta_batida += 1

print('O percentual de pessoas que bateram a meta foi de {:.2%}'.format(qtd_pessoas_meta_batida / qtd_total_pessoas))

O percentual de pessoas que bateram a meta foi de 62.50%

**FOR - IN - DICT**

Estrutura que permite a execução de um bloco de código para todos os elementos de um dicionário

In [53]:
credito = {'123': 750, '456':812, '789':980}

In [54]:
for chave, valor in credito.items():
  print(f'Para o documento "{chave}", o valor do escore de crédito é {valor}.')
  print('\n')

Para o documento "123", o valor do escore de crédito é 750.


Para o documento "456", o valor do escore de crédito é 812.


Para o documento "789", o valor do escore de crédito é 980.

In [55]:
for chave in credito.keys():
  print(chave)
  print(credito[chave])
  print(f'Para o documento {chave}, o valor do escore de crédito é {credito[chave]}.')

123
750
Para o documento 123, o valor do escore de crédito é 750.
456
812
Para o documento 456, o valor do escore de crédito é 812.
789
980
Para o documento 789, o valor do escore de crédito é 980.

In [56]:
for valor in credito.values():
  print(valor)
  print(f'o valor do escore de crédito é {valor}, mas nao temos mais as chaves :(.')
  print('\n')

750
o valor do escore de crédito é 750, mas nao temos mais as chaves :(.


812
o valor do escore de crédito é 812, mas nao temos mais as chaves :(.


980
o valor do escore de crédito é 980, mas nao temos mais as chaves :(.

**Break\continue**

Estrutura que permite a quebra ou avanço de um laco de repeticao

In [60]:
for i in range(0, 10*10*10*10*10*10):
  print(i)
  if i == 5:
    break

0
1
2
3
4
5

In [61]:
numero = 10

if numero % 2 == 0:
  print(f'o numero {numero} é par')
else:
  print(f'O numero {numero} é impar')

o numero 10 é par

In [62]:
numeros = [361,553,194,13,510,33,135]

for numero in numeros:
  if numero % 2 == 0:
    print(f'O numero {numero} é par')
    break
  else:
    print(f'O numero {numero} é impar')

O numero 361 é impar
O numero 553 é impar
O numero 194 é par

In [63]:
numeros = [361,553,194,13,510,33,135]

for numero in numeros:
  if numero % 2 == 0:
    print(f'O numero {numero} é par')
    break
  else:
    continue
    print(f'O numero {numero} é impar')

O numero 194 é par