# **Configuração Inicial**

**arquivo CSV: banco.csv**

In [ ]:
%%writefile banco.csv
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,147,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Overwriting banco.csv

**with - open**

comando para ler arquivos

In [ ]:
with open(file='<caminho do arquivo>', mode='<modo de leitura>', encoding='<decodificador>') as <apelido>:
  bloco de codigo


os modos de leitura são:

*   **r:** abrir o arquivo para leitura(padrão)

**read**

comando para ler todo o conteúdo de um arquivo.

In [ ]:
conteudo = None

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  conteudo = arquivo.read()

print(conteudo)

age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,147,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

**readline**

Comando para ler todo o conteúdo de um arquivo uma linha por vez

In [ ]:
conteudo = []

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  linha=arquivo.readline() #le a primeira linha
  while linha:
    conteudo.append(linha)
    linha = arquivo.readline() # le uma nova linha, se a linha não existir, salva o valor none
    
print(conteudo)

['age,job,marital,education,default,balance,housing,loan\n', '30,unemployed,married,primary,no,1787,no,no\n', '33,services,married,secondary,no,4789,yes,yes\n', '35,management,single,tertiary,no,1350,yes,no\n', '30,management,married,tertiary,no,1476,yes,yes\n', '59,blue-collar,married,secondary,no,0,yes,no\n', '35,management,single,tertiary,no,747,no,no\n', '36,self-employed,married,tertiary,no,147,yes,no\n', '39,technician,married,secondary,no,147,yes,no\n', '41,entrepreneur,married,tertiary,no,221,yes,no\n', '43,services,married,primary,no,-88,yes,yes\n']

In [ ]:
for linha in conteudo:
  print(linha)

age,job,marital,education,default,balance,housing,loan

30,unemployed,married,primary,no,1787,no,no

33,services,married,secondary,no,4789,yes,yes

35,management,single,tertiary,no,1350,yes,no

30,management,married,tertiary,no,1476,yes,yes

59,blue-collar,married,secondary,no,0,yes,no

35,management,single,tertiary,no,747,no,no

36,self-employed,married,tertiary,no,147,yes,no

39,technician,married,secondary,no,147,yes,no

41,entrepreneur,married,tertiary,no,221,yes,no

43,services,married,primary,no,-88,yes,yes

**exemplo:** extraindo os valores da primeira coluna

In [ ]:
idades=[]

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  linha = arquivo.readline() # le o cabecalho
  linha = arquivo.readline() # le a primeira linha

  while linha:
    linha_separada = linha.split(sep=',') # quebra a string nas virgulas e salva os resultados em uma lista
    idade = linha_separada[0] #seleciona o primeiro elemento da lista
    idade = int(idade) # converte o valor de string para integer(inteiro)
    idades.append(idade) # salva o valor na lista de idades
    linha = arquivo.readline() # le uma nova linha, se a linha não existir, salva o valor none

print(idades)

[30, 33, 35, 30, 59, 35, 36, 39, 41, 43]

**Escrita**

Comando para ler/escrever arquivos

In [ ]:
with open(file='<caminho do arquivo>', mode='<modo de leitura>', encoding='<decodificador>') as <apelido>:
  bloco de codigo

os modos de leitura são:


*   r: Abrir o arquivo para leitura (padrão)
*   w: Abrir o arquivo para escrita (sobreescreve o arquivo original)
*   a: Abrir o arquivo para acrescentar ( não sobreescreve o arquivo original)

**write**

comando para escrever em um arquivo,se o arquivo não existir, ele será criado.

modo de escrita (w)

In [ ]:
with open (file='idades.csv',mode='w',encoding='utf8') as fp:
  linha = 'idade' + '\n'
  fp.write(linha)
  for idade in idades:
    linha = str(idade) + '\n'
    fp.write(linha)

modo de acréscimo(a)

In [ ]:
with open (file='idades.csv',mode='a',encoding='utf8') as fp:
  for idade in idades:
    linha =str(idade + 100) + '\n'
    fp.write(linha)

## **Funções**

voce trabalha na bolsa de valores e precisa simular o retorno de um investimento para diversos cenários:

In [ ]:
valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10

valor_final = valor_inicial
for ano in range(1,anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos voce terá {valor_final}')

valor_inicial, taxa_juros_anual, anos = 1000.00, 0.03, 10

valor_final = valor_inicial
for ano in range(1,anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos voce terá {valor_final}')

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.05, em 10 anos voce terá 1628.89
Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.03, em 10 anos voce terá 1343.92

Como podemos fazer para reaproveitar o código e evitar repetições?

**Definição**

um bloco de código que só executado quando chamado

In [ ]:
def <nome> (<param 1>, <param 2>, ...):
  bloco de código
  return <valor de retorno>

In [ ]:
var = <nome da funcao >(<param 1>, <param 2>,...)

In [ ]:
def imprime(mensagem:str):
  print(mensagem)

In [ ]:
texto = 'fala pessoal, meu nome é luis carlos!'

In [ ]:
imprime(mensagem=texto)

fala pessoal, meu nome é luis carlos!

**Retorno**

Toda função retornapelo menos um valor, se não especificado, retorna o valor nulo

In [ ]:
def maiusculo(texto) -> str:
  text_maisculo = texto.upper()
  return text_maisculo

In [ ]:
nome = 'luis carlos'
print(nome)

nome_maiusculo = maiusculo(texto=nome)
print(nome_maiusculo)

luis carlos
LUIS CARLOS

In [ ]:
def extrair_usuario_email_provedor(email) ->(str,str):
  email_separado = email.split(sep='@')
  usuario = email_separado[0]
  provedor = email_separado[1]
  return usuario, provedor

In [ ]:
email = 'luis.edu.ifac@gmail.com'
usuario, provedor = extrair_usuario_email_provedor(email=email)
print(usuario)
print(provedor)

luis.edu.ifac
gmail.com

**PARÂMETROS**

função sem parametros:

In [ ]:
def pi() -> float:
  return 3.14159265359

In [ ]:
pi = pi()
print(pi)

3.14159265359

In [ ]:
def imprime_pi() -> None:
  print(3.14159265359)
  return None

In [ ]:
imprime_pi()

3.14159265359

Função com parametros:

In [ ]:
def escreve_arquivo_csv (nome: str, cabecalho: str, conteudos: list) -> bool:

  try:
    with open(file=nome, mode='w', encoding= 'utf8') as fp:
      linha = cabecalho + '\n'
      fp.write(linha)

      for conteudo in conteudos:
        linha = str(conteudo) + '\n'
        fp.write(linha)
  except Exception as exc:

    print(exc)
    return False
  return True

In [ ]:
nome = 'idades-funcao.csv'
cabecalho = 'idade'
conteudos = [30,33,35,30,59,35,36,41,43]

escreveu_com_sucesso = escreve_arquivo_csv(nome=nome, cabecalho=cabecalho, conteudos=conteudos)

print(escreveu_com_sucesso)

True

Resolvendo o primeiro exercicios

In [ ]:
def juros_compostos_anual(valor_inicial: float, taxa_juros_anual: float, anos: int) -> float:

  valor_final = valor_inicial
  for ano in range(1, anos+1):
    valor_final = valor_final * (1 + taxa_juros_anual)
  valor_final = round(valor_final, 2)
  print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos voce terá R${valor_inicial}')
  return valor_final

In [ ]:
valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10
valor_final = juros_compostos_anual(valor_inicial=valor_inicial, taxa_juros_anual=taxa_juros_anual, anos=anos)

valor_inicial, taxa_juros_anual, anos = 1000.00, 0.03, 10
valor_final = juros_compostos_anual(valor_inicial=valor_inicial, taxa_juros_anual=taxa_juros_anual, anos=anos)

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.05, em 10 anos voce terá R$1000.0
Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.03, em 10 anos voce terá R$1000.0

# **Escopo**

**Definição - define o ciclo de vida de uma variável**

Escopo da função

In [1]:
def soma_lista(numeros: list) -> int:
  s = 0
  for numero in numeros:
    s = s + numero
    return s

In [2]:
soma  = soma_lista(numeros=[1] * 10)
print(soma)

1

In [3]:
print(s)

NameError: ignored

escopo de estrutura condicional - repetição

In [4]:
if False:
  x = 100
else:
  w=50

print(w)

50