**Conjuntos**

armazenam sequências imutáveis e desordenadas valores, sem repetição. São do tipo *set*:

In [1]:
frutas = {'banana','maca','uva','uva'}
print(frutas)
print(type(frutas))

{'maca', 'uva', 'banana'}
<class 'set'>

**Operações**

As operações da estrutura do tipo set são:


*   - (Diferença)

In [2]:
norte_europa = {'reino unido','suecia','russia','noruega','dinamarca'}
escandinavia = {'noruega','dinarmaca','suecia'}

In [3]:
norte_europa_nao_escandivano = norte_europa - escandinavia
print(norte_europa_nao_escandivano)

{'russia', 'reino unido', 'dinamarca'}

In [4]:
escandivano_nao_norte_europa = escandinavia - norte_europa
print(escandivano_nao_norte_europa)

{'dinarmaca'}

**Métodos**

são métodos nativos do python que nos ajudam a trabalhar no dia a dia com conjuntos.

In [5]:
cursos = {'Exatas','Humanas','Biológicas'}
print(cursos)

{'Exatas', 'Biológicas', 'Humanas'}

In [6]:
# INSERIR UM ELEMENTO NO CONJUNTO: set.add(val)
cursos.add('Saúde')
print(cursos)

{'Saúde', 'Exatas', 'Biológicas', 'Humanas'}

In [7]:
# remover um elemento no conjunto: set.remove(val)
cursos.remove('Saúde')
print(cursos)

{'Exatas', 'Biológicas', 'Humanas'}

**Conversão**

Podemos converter conjuntos para lista e vice e versa.

In [11]:
times_paulistas = {'São Paulo','Palmeiras','Corinthians','Santos'}

print(times_paulistas)
print(type(times_paulistas))

{'Santos', 'Corinthians', 'São Paulo', 'Palmeiras'}
<class 'set'>

In [12]:
print(type(list(times_paulistas)))
print(times_paulistas)

<class 'list'>
{'Santos', 'Corinthians', 'São Paulo', 'Palmeiras'}